@model Ansh.Models.DTO.ChangePasswordModel
@{
    string username = User.Identity.Name;

    }

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Change Password Form -->
            <form asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label for="CurrentPassword">Current Password*</label>
                    <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" asp-for="CurrentPassword" />
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>

                <div class="form-group">
                    <label for="NewPassword">New Password*</label>
                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" asp-for="NewPassword" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group">
                    <label for="PasswordConfirm">Confirm New Password*</label>
                    <input type="password" class="form-control" id="PasswordConfirm" name="PasswordConfirm" asp-for="PasswordConfirm" />
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        <span class="text-info">@TempData["msg"]</span>
                    </div>
                }

                <button type="submit" class="btn btn-info">Save</button>
            </form>
        </div>
    </div>
</main>
