<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timesheet</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
</head>
<body>
    <main class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-title">
                        <h2>DASHBOARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card1">
                        <div class="card-inner">
                            <h4>Employee Details</h4>
                            <span class="material-icons-outlined">inventory_2</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card2">
                        <div class="card-inner">
                            <h4>Company Details</h4>
                            <span class="material-icons-outlined">category</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card3">
                        <div class="card-inner">
                            <h4>Project Details</h4>
                            <span class="material-icons-outlined">groups</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card4">
                        <div class="card-inner">
                            <h4>Alerts Details</h4>
                            <span class="material-icons-outlined">notification_important</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
